<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Principal Investigator </h2>
                </div>
            </div>


            <div class="container">
               <div class="col-md-4">
             <img src="../css/2016_style/img/speaker/wangqi.jpg" class="img-responsive img-centered" alt="">

               </div>
               <div class="col-md-8", style="margin:auto;">
                <p> Dr. Qi Wang received the B.Eng. degree in Information Security from University of Science and Technology of China in 2007, and the Ph.D. degree in Computer Science and Engineering from The Hong Kong University of Science and Technology in 2011. His research interests include Cryptography and its application, Error-correcting codes and Combinatorics. </p>

               </div>

               
             </div>
        </div>
    </section>